<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cen.KpzsContestCode.dao.KpzsContestCodeMapper">
  <resultMap id="BaseResultMap" type="com.cen.KpzsContestCode.entity.KpzsContestCode">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="code" jdbcType="VARCHAR" property="code" />
    <result column="valid_date" jdbcType="DATE" property="validDate" />
    <result column="status" jdbcType="INTEGER" property="status" />
  </resultMap>
  <sql id="Base_Column_List">
    id, code, valid_date, status
  </sql>

  <!-- 获取一条当天可用的兑奖码 -->
  <select id="selectOneTodayValidCode" resultMap="BaseResultMap">
    SELECT * FROM `kpzs_contest_code`
    WHERE valid_date = DATE_SUB(CURDATE(),INTERVAL 0 DAY)
    AND status = 0 LIMIT 1
  </select>

  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from kpzs_contest_code
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from kpzs_contest_code
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insertSelective" parameterType="com.cen.KpzsContestCode.entity.KpzsContestCode">
    insert into kpzs_contest_code
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="code != null">
        code,
      </if>
      <if test="validDate != null">
        valid_date,
      </if>
      <if test="status != null">
        status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="code != null">
        #{code,jdbcType=VARCHAR},
      </if>
      <if test="validDate != null">
        #{validDate,jdbcType=DATE},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.cen.KpzsContestCode.entity.KpzsContestCode">
    update kpzs_contest_code
    <set>
      <if test="code != null">
        code = #{code,jdbcType=VARCHAR},
      </if>
      <if test="validDate != null">
        valid_date = #{validDate,jdbcType=DATE},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <sql id="sql_where">
    <where>
      <if test="code != null">
         and code = #{code,jdbcType=VARCHAR}
      </if>
      <if test="validDate != null">
         and valid_date = #{validDate,jdbcType=DATE}
      </if>
      <if test="status != null">
         and status = #{status,jdbcType=INTEGER}
      </if>
    </where>
  </sql>
  <select id="selectList" parameterType="java.lang.String" resultMap="BaseResultMap">
     select * from kpzs_contest_code
    <include refid="sql_where" />
  </select>
  <update id="deleteLogicByIds">
    update kpzs_contest_code set ids = #{ids,jdbcType=VARCHAR} where id in  <foreach item="item" index="index" collection="ids" open="(" separator="," close=")">#{item}</foreach> 
  </update>
</mapper>