<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cen.link.dao.LinkDao" >
  <resultMap id="BaseResultMap" type="com.cen.link.entity.Link" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="linkname" property="linkname" jdbcType="VARCHAR" />
    <result column="link" property="link" jdbcType="VARCHAR" />
    <result column="note" property="note" jdbcType="VARCHAR" />

  </resultMap>
  <sql id="Base_Column_List" >
    id, linkname,link, note
  </sql>
  <select id="selectList" resultMap="BaseResultMap"  parameterType="java.lang.String">
    select
    <include refid="Base_Column_List" />
    from link
    <where>
      <if test="linkname !=null">
        linkname LIKE concat(concat("%",#{linkname}),"%")
      </if>
    </where>
    order by id desc
    <!-- 分页 -->
    <if test="pageNum != null and pageSize != null">
      limit #{pageNum}, #{pageSize}
    </if>
  </select>

  <insert id="insertSelective" parameterType="com.cen.link.entity.Link">
    insert into link
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="linkname != null">
        linkname,
      </if>
      <if test="link != null">
        link,
      </if>
      <if test="note != null">
        note,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="linkname != null">
        #{linkname,jdbcType=VARCHAR},
      </if>
      <if test="link != null">
        #{link,jdbcType=INTEGER},
      </if>
      <if test="note != null">
        #{note,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>

  <update id="updateByPrimaryKeySelective" parameterType="com.cen.link.entity.Link" >
    update link
    <set >
      <if test="linkname != null" >
        linkname = #{linkname,jdbcType=VARCHAR},
      </if>
      <if test="link != null" >
        link = #{link,jdbcType=VARCHAR},
      </if>
      <if test="note != null" >
        note = #{note,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <sql id="sql_where">
    <where>
      <if test="linkname != null">
        and linkname = #{linkname,jdbcType=VARCHAR}
      </if>
      <if test="link != null">
        and link = #{link,jdbcType=INTEGER}
      </if>
      <if test="note != null">
        and note = #{note,jdbcType=VARCHAR}
      </if>
    </where>
  </sql>
  <select id="selectListCount" resultType="java.lang.Integer">
    select
    count(id) as count
    from link
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from link
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select
     *
    from link
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectreturn" resultMap="BaseResultMap"  >
    select
     *
    from link
  </select>
</mapper>
