<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cen.upms.dao.MenuDao">
  <cache eviction="LRU" flushInterval="100000" size="1024" readOnly="true"/>
  <resultMap id="BaseResultMap" type="com.cen.upms.entity.Menu">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="menu_name" jdbcType="VARCHAR" property="menuName" />
    <result column="p_menu_code" jdbcType="VARCHAR" property="pMenuCode" />
    <result column="level" jdbcType="INTEGER" property="level" />
    <result column="url" jdbcType="VARCHAR" property="url" />
    <result column="icon" jdbcType="VARCHAR" property="icon" />
    <result column="is_menu" jdbcType="INTEGER" property="isMenu" />
    <result column="order_no" jdbcType="INTEGER" property="orderNo" />
    <result column="create_time" jdbcType="DATE" property="createTime" />
    <result column="modify_time" jdbcType="DATE" property="modifyTime" />
    <result column="is_del" jdbcType="INTEGER" property="isDel" />
    <result column="power" jdbcType="VARCHAR" property="power" />
  </resultMap>
  <sql id="Base_Column_List">
    id, menu_name, p_menu_code, level, url, icon, is_menu, order_no, create_time, modify_time, 
    is_del, power
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from sys_menu
    where id = #{id,jdbcType=INTEGER}
  </select>
  
  <!-- 查询所有菜单 -->
  <select id="selectAll" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from sys_menu
    where is_del = 0
  </select>
  
  <!-- 根据角色ID查询菜单 -->
  <select id="selectByRid" parameterType="java.lang.String" resultMap="BaseResultMap">
  	(select m.* from sys_menu m  inner join  sys_role_menu r on m.id = r.menu_code and m.is_del = 0  and r.role_code = #{rid,jdbcType=INTEGER} and r.is_del = 0 and m.is_menu in (0,1))
  	  order by m.order_no,create_time DESC
  </select>

  <!-- 根据角色ID查询手机菜单 -->
  <select id="selectPhoneByRid" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select m.* from sys_menu m  inner join  sys_role_menu r on m.id = r.menu_code and m.is_del = 0  and r.role_code = #{rid,jdbcType=INTEGER} and r.is_del = 0 and m.is_menu = 2 order by m.order_no
  </select>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" flushCache="true">
    delete from sys_menu
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.cen.upms.entity.Menu">
    insert into sys_menu (id, menu_name, p_menu_code, 
      level, url, icon, is_menu, 
      order_no, create_time, modify_time, 
      is_del, power)
    values (#{id,jdbcType=INTEGER}, #{menuName,jdbcType=VARCHAR}, #{pMenuCode,jdbcType=VARCHAR}, 
      #{level,jdbcType=INTEGER}, #{url,jdbcType=VARCHAR}, #{icon,jdbcType=VARCHAR}, #{isMenu,jdbcType=INTEGER}, 
      #{orderNo,jdbcType=INTEGER}, #{createTime,jdbcType=DATE}, #{modifyTime,jdbcType=DATE}, 
      #{isDel,jdbcType=INTEGER}, #{power,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.cen.upms.entity.Menu" flushCache="true">
    insert into sys_menu
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="menuName != null">
        menu_name,
      </if>
      <if test="pMenuCode != null">
        p_menu_code,
      </if>
      <if test="level != null">
        level,
      </if>
      <if test="url != null">
        url,
      </if>
      <if test="icon != null">
        icon,
      </if>
      <if test="isMenu != null">
        is_menu,
      </if>
      <if test="orderNo != null">
        order_no,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="modifyTime != null">
        modify_time,
      </if>
      <if test="isDel != null">
        is_del,
      </if>
      <if test="power != null">
        power,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="menuName != null">
        #{menuName,jdbcType=VARCHAR},
      </if>
      <if test="pMenuCode != null">
        #{pMenuCode,jdbcType=VARCHAR},
      </if>
      <if test="level != null">
        #{level,jdbcType=INTEGER},
      </if>
      <if test="url != null">
        #{url,jdbcType=VARCHAR},
      </if>
      <if test="icon != null">
        #{icon,jdbcType=VARCHAR},
      </if>
      <if test="isMenu != null">
        #{isMenu,jdbcType=INTEGER},
      </if>
      <if test="orderNo != null">
        #{orderNo,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=DATE},
      </if>
      <if test="modifyTime != null">
        #{modifyTime,jdbcType=DATE},
      </if>
      <if test="isDel != null">
        #{isDel,jdbcType=INTEGER},
      </if>
      <if test="power != null">
        #{power,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.cen.upms.entity.Menu" flushCache="true">
    update sys_menu
    <set>
      <if test="menuName != null">
        menu_name = #{menuName,jdbcType=VARCHAR},
      </if>
      <if test="pMenuCode != null">
        p_menu_code = #{pMenuCode,jdbcType=VARCHAR},
      </if>
      <if test="level != null">
        level = #{level,jdbcType=INTEGER},
      </if>
      <if test="url != null">
        url = #{url,jdbcType=VARCHAR},
      </if>
      <if test="icon != null">
        icon = #{icon,jdbcType=VARCHAR},
      </if>
      <if test="isMenu != null">
        is_menu = #{isMenu,jdbcType=INTEGER},
      </if>
      <if test="orderNo != null">
        order_no = #{orderNo,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=DATE},
      </if>
      <if test="modifyTime != null">
        modify_time = #{modifyTime,jdbcType=DATE},
      </if>
      <if test="isDel != null">
        is_del = #{isDel,jdbcType=INTEGER},
      </if>
      <if test="power != null">
        power = #{power,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.cen.upms.entity.Menu">
    update sys_menu
    set menu_name = #{menuName,jdbcType=VARCHAR},
      p_menu_code = #{pMenuCode,jdbcType=VARCHAR},
      level = #{level,jdbcType=INTEGER},
      url = #{url,jdbcType=VARCHAR},
      icon = #{icon,jdbcType=VARCHAR},
      is_menu = #{isMenu,jdbcType=INTEGER},
      order_no = #{orderNo,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=DATE},
      modify_time = #{modifyTime,jdbcType=DATE},
      is_del = #{isDel,jdbcType=INTEGER},
      power = #{power,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>